:root {
    --primary-color: #6a1b9a;
    --secondary-color: #f9f9f9;
    --footer-color: #222222;
    --font-family: 'Aptos Display', sans-serif;
  }
  
  $primary-color: #6a1b9a;
  $secondary-color: #f9f9f9;
  $footer-color: #222222;
  $font-family: 'Aptos Display', sans-serif;
  